/Assembly-CSharp.Player.csproj
/Assembly-CSharp-Editor.csproj
/Cinemachine.Editor.Tests.csproj
/Cinemachine.Player.csproj
/Cinemachine.Runtime.Tests.csproj
/com.unity.cinemachine.editor.csproj
/DocCodeExamples.csproj
/DocCodeSamples.csproj
/OverloadedFunctionPointers.csproj
/PPv2URPConverters.csproj
/SeparateAssembly.csproj
/TypeDependencyCacheTestAssembly.csproj
/Unity.Burst.CodeGen.csproj
/Unity.Burst.csproj
/Unity.Burst.Editor.csproj
/Unity.Burst.Editor.Tests.csproj
/Unity.Burst.Tests.csproj
/Unity.Burst.Tests.UnitTests.csproj
/Unity.Collections.BurstCompatibilityGen.csproj
/Unity.Collections.CodeGen.csproj
/Unity.Collections.csproj
/Unity.Collections.DocCodeSamples.csproj
/Unity.Collections.Editor.csproj
/Unity.Collections.Player.csproj
/Unity.Collections.Tests.csproj
/Unity.Collections.Tests.Playmode.csproj
/Unity.Core.Editor.csproj
/Unity.Deformations.csproj
/Unity.Deformations.Player.csproj
/Unity.Entities.Build.csproj
/Unity.Entities.CodeGen.csproj
/Unity.Entities.CodeGen.Tests.csproj
/Unity.Entities.csproj
/Unity.Entities.Editor.csproj
/Unity.Entities.Editor.PerformanceTests.csproj
/Unity.Entities.Editor.Properties.csproj
/Unity.Entities.Editor.Tests.csproj
/Unity.Entities.Graphics.csproj
/Unity.Entities.Graphics.Editor.csproj
/Unity.Entities.Graphics.Player.csproj
/Unity.Entities.Graphics.Tests.csproj
/Unity.Entities.Hybrid.csproj
/Unity.Entities.Hybrid.EndToEnd.Tests.csproj
/Unity.Entities.Hybrid.HybridComponents.csproj
/Unity.Entities.Hybrid.HybridComponents.Player.csproj
/Unity.Entities.Hybrid.PerformanceTests.csproj
/Unity.Entities.Hybrid.Player.csproj
/Unity.Entities.Hybrid.Tests.csproj
/Unity.Entities.Hybrid.Tests.ExcludedAssembly.csproj
/Unity.Entities.Hybrid.Tests.SeparateAssembly.csproj
/Unity.Entities.PerformanceTests.csproj
/Unity.Entities.Player.csproj
/Unity.Entities.TestComponents.csproj
/Unity.Entities.Tests.csproj
/Unity.Entities.Tests.InAnotherAssembly.csproj
/Unity.Entities.UI.csproj
/Unity.Entities.UI.Editor.csproj
/Unity.Entities.UI.Player.csproj
/Unity.InputSystem.csproj
/Unity.InputSystem.ForUI.csproj
/Unity.InputSystem.ForUI.Player.csproj
/Unity.InputSystem.IntegrationTests.csproj
/Unity.InputSystem.Player.csproj
/Unity.InputSystem.TestFramework.csproj
/Unity.InputSystem.TestFramework.Player.csproj
/Unity.InternalAPIEditorBridge.002.csproj
/Unity.InternalAPIEngineBridge.002.csproj
/Unity.InternalAPIEngineBridge.002.Player.csproj
/Unity.Logging.csproj
/Unity.Logging.Player.csproj
/Unity.Mathematics.csproj
/Unity.Mathematics.Editor.csproj
/Unity.Mathematics.Extensions.csproj
/Unity.Mathematics.Extensions.Hybrid.csproj
/Unity.Mathematics.Extensions.Hybrid.Player.csproj
/Unity.Mathematics.Extensions.Player.csproj
/Unity.Mathematics.Player.csproj
/Unity.Mathematics.Tests.csproj
/Unity.NetCode.Authoring.Hybrid.csproj
/Unity.NetCode.Authoring.Hybrid.Player.csproj
/Unity.Netcode.Components.csproj
/Unity.Netcode.Components.Player.csproj
/Unity.NetCode.csproj
/Unity.Netcode.Editor.CodeGen.csproj
/Unity.NetCode.Editor.CodeGenTemplates.csproj
/Unity.Netcode.Editor.csproj
/Unity.NetCode.Editor.Drawers.csproj
/Unity.Netcode.Editor.PackageChecker.csproj
/Unity.Netcode.EditorTests.csproj
/Unity.NetCode.Hybrid.csproj
/Unity.NetCode.Hybrid.Player.csproj
/Unity.NetCode.Physics.csproj
/Unity.NetCode.Physics.EditorTests.csproj
/Unity.NetCode.Physics.Hybrid.Player.csproj
/Unity.NetCode.Physics.Player.csproj
/Unity.NetCode.Player.csproj
/Unity.Netcode.Runtime.csproj
/Unity.Netcode.Runtime.Player.csproj
/Unity.Netcode.RuntimeTests.csproj
/Unity.Netcode.TestHelpers.Runtime.csproj
/Unity.NetCode.TestsUtils.csproj
/Unity.Networking.Editor.csproj
/Unity.Networking.Transport.csproj
/Unity.Networking.Transport.Player.csproj
/Unity.Networking.Transport.RuntimeTests.csproj
/Unity.Nuget.Mono-Cecil.csproj
/Unity.PerformanceTesting.csproj
/Unity.PerformanceTesting.Editor.csproj
/Unity.PerformanceTesting.Player.csproj
/Unity.PerformanceTesting.Tests.Runtime.csproj
/Unity.Physics.csproj
/Unity.Physics.Custom.csproj
/Unity.Physics.Custom.Editor.csproj
/Unity.Physics.Custom.Player.csproj
/Unity.Physics.EditModeTests.csproj
/Unity.Physics.Editor.csproj
/Unity.Physics.Hybrid.csproj
/Unity.Physics.Hybrid.Player.csproj
/Unity.Physics.Player.csproj
/Unity.Physics.PlayModeTests.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Profiling.Core.csproj
/Unity.Profiling.Core.Player.csproj
/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
/Unity.RenderPipelines.Core.Editor.csproj
/Unity.RenderPipelines.Core.Editor.Tests.csproj
/Unity.RenderPipelines.Core.Runtime.csproj
/Unity.RenderPipelines.Core.Runtime.Player.csproj
/Unity.RenderPipelines.Core.Runtime.Tests.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
/Unity.RenderPipelines.Universal.2D.Runtime.csproj
/Unity.RenderPipelines.Universal.2D.Runtime.Player.csproj
/Unity.RenderPipelines.Universal.Editor.csproj
/Unity.RenderPipelines.Universal.Editor.Tests.csproj
/Unity.RenderPipelines.Universal.Runtime.csproj
/Unity.RenderPipelines.Universal.Runtime.Player.csproj
/Unity.RenderPipelines.Universal.Runtime.Tests.csproj
/Unity.RenderPipelines.Universal.Shaders.Player.csproj
/Unity.Rider.Editor.csproj
/Unity.Scenes.csproj
/Unity.Scenes.Editor.csproj
/Unity.Scenes.Editor.PerformanceTests.csproj
/Unity.Scenes.Editor.Tests.csproj
/Unity.Scenes.Hybrid.Tests.csproj
/Unity.Scenes.Hybrid.Tests.Editmode.Content.csproj
/Unity.Scenes.Hybrid.Tests.Playmode.csproj
/Unity.Scenes.PerformanceTests.csproj
/Unity.Scenes.Player.csproj
/Unity.Scenes.Tests.csproj
/Unity.ScriptableBuildPipeline.Editor.csproj
/Unity.ScriptableBuildPipeline.Editor.Tests.csproj
/Unity.ScriptableBuildPipeline.Player.csproj
/Unity.ScriptableBuildPipeline.Tests.csproj
/Unity.Searcher.EditorTests.csproj
/Unity.Serialization.csproj
/Unity.Serialization.Editor.csproj
/Unity.Serialization.Player.csproj
/Unity.ShaderGraph.Editor.csproj
/Unity.ShaderGraph.Editor.Tests.csproj
/Unity.ShaderGraph.Utilities.csproj
/unity.sln
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.Editor.Tests.csproj
/Unity.TextMeshPro.Player.csproj
/Unity.TextMeshPro.Tests.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.Player.csproj
/Unity.Transforms.csproj
/Unity.Transforms.Hybrid.csproj
/Unity.Transforms.Hybrid.Player.csproj
/Unity.Transforms.Hybrid.Tests.csproj
/Unity.Transforms.PerformanceTests.csproj
/Unity.Transforms.Player.csproj
/Unity.Transforms.Tests.csproj
/Unity.VisualScripting.Core.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Core.Player.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.Flow.Player.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualScripting.State.Player.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.CacheServer.csproj
/UnityEditor.CacheServerTests.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEditor.UI.EditorTests.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.TestRunner.Player.csproj
/UnityEngine.UI.csproj
/UnityEngine.UI.Player.csproj
